body{
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    align-content: center;
    background-color: wheat;
}
.lol1{
    margin-left: 23%;
    border: 12px solid rgb(255, 187, 0);
    width: 50%;
    border-radius:12px;
    background-color :rgb(225, 245, 137);