a:hover
    {
        background-color:yellow;
        padding: 0%;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-top: 12px;
        border-radius: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    a:link {
        color: green;
      }
      a:visited {
        color: green;
      }
      a:hover {
        color: red;
      }
      a:active {
        color: yellow;
      }