.title
        {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font: italic;
            
        }

.log    
        {
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color:black;
                background-color: antiquewhite;
                border-radius: 200px;
                margin: 250px;
                opacity:75%;
        
        }
        .pro           {
        
        }

 video {
                object-fit: cover;
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
          }
          .pro{
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
.bttn{
        background-color: wheat;

}
