.title
        {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font: italic;
            
        }
body
        {
                background-image: url(https://media1.tenor.com/images/21b671bc758e87a14be9244eb70eec3f/tenor.gif?itemid=4714306);
                background-size: cover;
                background-attachment: fixed;
                background-repeat: no-repeat;
        }
.log    
        {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color:black;
                background-color: antiquewhite;
                opacity:75%;
                
                
                
        }

